{% extends 'base.html.twig' %}

{% block headerBackground %}
    <div class="header header-filter" style="background-image: url('{{ asset('Resources/assets/img/header-background.jpg') }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1>{{ 'titreHeader'|trans }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <h2 class="text-center">Accueil</h2>

{% endblock %}
